html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
footer{
    text-align: center;
    background: orange;
}
aside{
    background: lightsalmon;
}
header{
    text-align: center;
    background: lightcoral;
}
nav{
    background: yellow;
}
.header{
    box-sizing: content-box;
    font-size: 46px;
    background: magenta;
    width:auto;
    padding: 0px;
    border: 1px solid #000000;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.footer{
    box-sizing: border-box;
    position: absolute;
    bottom: 200px;
    left: 10px;
	z-index: 1;
	line-height: 1.5;
    font-size: 10px;
    background: magenta;
    width: 1245px;
    height: auto;
    padding: 10px;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.content{
    box-sizing: border-box;
    font-size: 14px;
    width: 400px;
    height: 500px;
    position: absolute;
    padding: 10px;
    border: 1px solid #000000;
    margin-left: 0%;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.navigation{
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    background: blue;
    z-index: 1;
	line-height: 1.5;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid #000000;
    margin-left:10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sidebar{
    box-sizing: border-box;
    font-size: 10px;
    background: magenta;
    position: absolute;
    top:250px;
	right: 1em;
	z-index: 1;
	line-height: 1.5;
    width: 300px;
    height: 400px;
    padding: 15px;
    border: 1px solid #000000;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: -10px;
}
    /*2.7 agregando "strong" antes de la etiqueta.*/